@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');
@import '/css/button_style.css';
@import 'menu.css';
@import '/css/main.css';

:root{
    --fondo_menu: rgba(47, 218, 203, 0.5);
    --font: white;
}






*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: julee, Arial, Helvetica, sans-serif;
    font-size: 100%;
}


body{
    height: 100%;
    background: -moz-linear-gradient(45deg, rgba(79, 79, 236, 0.9),rgba(163, 27, 218, 0.9));

}



.title {
    font-size: 1rem;
    color: var(--font);
    display: grid;
}

.title > h1 {
   margin: 1em;
    text-align: center;
    text-shadow: 7px 7px 7px  rgb(14, 12, 12);
}

.title >p{
    text-align: center;
}

.title > h2 {
    margin: 2em 1em;
    align-self: center;
    justify-self: center;

}
.title > .comentarios{
 
    width: 60%;
    align-self: center;
    justify-self: center;
}
.header{
    height: 100vh;
    background-image:url(/img/fotoPerfil.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

     

    
}





.container_foto_perfil {
  position: absolute;
  right:  1em;
  top: 40%;
  z-index: -1;
 animation: foto 10s 2 ;
}

@keyframes foto {
    0% {top: 40%; right:1em;}
    20% {top:0%;  right: 30%;}
    40% {top: 40%;  right: 60%;}
    60% {top:10%;  right: 70%;}
    80% {top:0%;  right: 0em;}
    100% {top:40%;  right:1em;}

}

.foto_perfil{
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  border: solid 2px blue ;
  animation: foto2 10s 2 ;

}


@keyframes foto2 {
    0% {height: 10rem;width: 10rem;}
    20% {height: 5rem;width: 5rem;}
    22% {height: 5rem;width: 10rem;}
    25% {height: 10rem; width: 5em;}
    40% {height: 10rem;width: 10rem;}
    42% {height: 5rem;width: 10rem;}
    45% {height: 10rem;width: 7rem;}
    60% {height: 10rem;width: 7rem;}
    62% {height: 10rem;width: 4rem;}
    80% {height: 10rem;width: 10rem;}
    82% {height: 5rem;width: 10rem;}
    100% {height: 10rem;width: 10rem;}

}




 





  
footer{
    display: flex;
    margin: 0.5em;
    justify-content: space-between;

}

footer  i{
    font-size: 1,5rem;
    width: 50%;
    text-align: center;
}

footer  img{
    width: 2em;
  
  
}





