



.menu_stiky{
    background-color: var(--fondo_menu);
    height: 3em;
    width: 100%;
     display: flex; 
    align-content: center;
    /* justify-content: space-around;  */
    padding: .1em;

    position: sticky;
    top: 0;
    box-shadow: 5px 10px 8px rgba(24, 11, 11, 0.5);
}
.menu_stiky_hijo, .button menu_stiky_hijo{
    width: 5em;
    height: 90%;
}


.nav_container{
    background-color: var(--fondo_menu);
    height: 3em;
     display: flex; 
    align-content: center;
    justify-content: space-between; 
    padding: .1em;

    position: sticky;
    top: 0;
}



.nav_link{
    font-size: 1.3rem;
    text-decoration: none;
     color: inherit;
     background-color: rgba(40, 230, 230,0.9);
     border: 1px dotted blueviolet ;
     /* border-radius: 40%; */
     display: block;
     padding: 0.3em ;
     margin: 0 0.5em;
     height: 100%;
     box-shadow: 5px 5px 5px violet;
  
     
}

 .nav_link .span{
   position: relative;
   left: 80vh;
  
} 





.inicio{
   padding-left: 3em;
 
}

.nav_link input{ 
   display: inline-block;

}
.menu{
  
   position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 30em;
    height: 100%;
   
}



.custom_menu{
  opacity: 100%;
    text-align: center;

}



label> p{
   display: none;
}

.checkbox{
   display: none;
} 

.lbl_switch{
   opacity: 50%;
   box-shadow: 5px 5px 5px ;
}




 @media only screen and (max-width: 800px){
     
.menu_stiky{
   background-color: var(--fondo_menu);
   height: 3em;
    display: flex; 
   align-content: center;
   justify-content: space-between; 
   padding: .1em;

   position: sticky;
   top: 0;
   box-shadow: 5px 10px 8px rgba(24, 11, 11, 0.5);
}
 
    .menu{
  
      height: 90vh;
       width:100%;
       position: absolute;
       z-index: -1;
       top: 1em;
       right: 0em; 
       padding-top: 1.6em;
       display: flex;
       flex-direction: column;
       transform: translateX(0em);
       transition: 0.5s;
 
       
     

   }
   .custom_menu{
      background-color: rgba(87, 240, 232, 0.4);
      border-radius: 10px;
      text-align: center;
      box-shadow: 5px 5px 5px ;
      height: 2.6em;
     
  
  }
  .custom_menu:hover{
   background-color:  rgba(87, 240, 232, 0.8);
   

}

.menu a{
   transform: skew(0deg, 0deg);
   transition: 2s;
}

.menu a:hover{
   background-color: rgba(40, 230, 230,0.6);
   box-shadow: 5px 10px 8px rgb(24, 11, 11);
   transform: skew(20deg, 10deg);
   transition: 2s;
   
}

   label> p{
      display: inline-block;
   }
   
   
   
   .checkbox:checked ~ .menu{
       transform: translateX(30em);
       transition: 0.3s;
       
   }


.checkbox{
     opacity: 0;  
}



.nav_link .span{
   position: initial;
  
}


.nav_link span{
   margin-top: 2em;
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.inicio{
   padding-left: 0em;
 
}

.lavel_logo{
   display: block;
   height: 100%;
   background-image: url(/svg/LOGO_S&L.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   border: 1px solid black;
   box-shadow: 5px 5px 5px ;
}


 


.checkbox:checked ~ .lavel_logo{
   background-image: url(/svg/LOGO_AW.svg);
}


.relleno{
   width: 100vmax;
   margin: 1em 0;
}


.title > .comentarios{
   width: 60%;
   align-self: center;
   justify-self: flex-start;
}





}